build-NewWindowChur-Desktop_Qt_6_1_3_MinGW_64_bit-Debug
build-NewWindowChur-Desktop_Qt_5_12_11_MinGW_64_bit-Debug
build-NewWindowChur-Desktop_Qt_6_2_0_MinGW_64_bit-Debug
build-NewWindowChur-Desktop_Qt_6_2_0_MinGW_64_bit-Debug
NewWindowChur/*.pro.user*
